@import "tailwindcss";

@theme {
  --color-bg: #191a19;
  --color-dark: #1e5128;
  --color-light: #4e9f3d;
  --color-white: #f5f5f5;
  --color-cream: #d8e9a8;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-cream);
  font-family: Arial, Helvetica, sans-serif;
}
