@import "tailwindcss";

@theme {
  --color-bg: #191a19;
  --color-white: #f8f8f8;
  --color-cream: #d8e9a8;
  --font-sans: var(--font-inter);
  --font-logo: var(--font-russo);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-cream);
  font-family: var(--font-sans);
}
@layer utilities {
  .navbar {
    position: absolute;
    z-index: 50;
    left: 50%;
    top: 2rem;
    transform: translateX(-50%);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-cream);
    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .nav-link {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 0.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid var(--color-cream);
    border-radius: 2rem;
    transition: all 0.4s;
  }
  .nav-link:hover,
  .nav-link:active {
    @apply bg-cream text-bg;
  }
  .go-to-text {
    @apply sm:text-base text-sm text-cream;
  }
  .go-to-arrow {
    @apply sm:w-5 sm:h-3 w-4 h-2;
    border-radius: 0.125rem;
    overflow: hidden;
    background: var(--color-cream);
    display: inline-block;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
  }
  .creator-btn {
    @apply rounded-4xl px-8 py-2 border border-cream cursor-pointer duration-400;
  }
  .creator-btn:hover,
  .creator-btn:active {
    @apply bg-cream text-bg;
  }
  .creator-cat-picker {
    @apply flex w-full justify-center cursor-pointer hover:bg-cream hover:text-bg active:bg-cream active:text-bg duration-400 py-3;
  }
  .players-input {
    @apply w-1/2 py-1 px-5 border-none outline-cream;
  }
}
